body {
    font-family: sans-serif;
}
#adminPage h1 {
    -webkit-text-stroke: 3px black;
    color: blue;
    font-size: 2.5em;
}

#emailIn {
    margin:15px;
}
#passIn {
    margin: 15px;
}
#submit {
    margin: 15px;
}
.title h1 {
    font-family: sans-serif;
    color: red;
    -webkit-text-stroke: 2px black;
}